.header {
  margin: 0 auto;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header h1 {
  font-size: 4rem;
}

.header h2 {
  font-size: 2rem;
}

.header nav {
  display: flex;
  gap: 6rem;
}

.nav-link {
  font-size: 2rem;
  color: #eee;
  text-decoration: none;
  padding-bottom: 1rem;
  transition: all 0.3s;
}

.nav-link:hover {
  box-shadow: 0 1px #eee;
}

.active {
  box-shadow: 0 1px #eee;
}
